*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties
app/release.keystore
*.drawio
*.docx
Priqnix.zip
DIPLOM_UPDATES.md
SETUP_GUIDE.md
ARCH_DIAGRAM.drawio
